# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model files and large data
*.joblib
*.pkl
*.h5
*.pt
*.csv
*.xlsx

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Streamlit config cache
.streamlit/
